.idea
.junie
logs/
*.db
.run/
testdata/
.vscode
.cursor
.DS_Store
*/.DS_Store

Dockerfile
Dockerfile.dev
dev.dockerfile
.dockerignore

go.work

.github/*.md

_docker-compose.yml

logs
web/
web-desktop/
web-denshi/
out/
./assets/

test/testdata/**/*.json
test/sample
test/providers.json
test/db.json
test/providers.json
test/config.json
test/config.toml
whats-new.md

*/mock_data.json

TODO-priv.md

##
## Parser
##
seanime-parser/.git

##
## Web App
##
aniverse-web/node_modules
aniverse-web/dist
aniverse-web/out
aniverse-web/out-desktop
aniverse-web/out-denshi
aniverse-web/web
aniverse-web/.tanstack
aniverse-web/.next
aniverse-web/.idea
aniverse-web/.pnp
aniverse-web/.pnp.js
aniverse-web/.yarn/install-state.gz
aniverse-web/coverage
aniverse-web/build
aniverse-web/.DS_Store
aniverse-web/*.pem
aniverse-web/npm-debug.log*
aniverse-web/yarn-debug.log*
aniverse-web/yarn-error.log*
aniverse-web/.env*.local
aniverse-web/*.tsbuildinfo
aniverse-web/snapshot
aniverse-web/logs
aniverse-web/analyze
aniverse-web/TODO-priv.md
aniverse-web/CHANGELOG-priv.md

seanime-webapp/public/test*

codegen/generated/hooks.mdx


internal/extension_repo/**/test*.ts
internal/extension_repo/goja_plugin_test

*.sh

aniverse-web-tr/
codegen/nonext/

tmp_puppeteer/
devdata/
